body {
    margin: 0; /* Remove default margin */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the body takes the full height of the viewport */
    background-color: #f8f9fa; /* Light background color */
    color: #333; /* Dark text color */
}

/* Header Styles */
.header {
    text-align: center; /* Center align header text */
    margin: 40px 0; /* Margin for spacing */
}

.header h1 {
    font-size: 5rem; /* Size of the main heading */
    color: #298063; /* Bootstrap primary color */
}

.header .tagline {
    font-size: 1.25rem; /* Smaller size for the tagline */
    color: #6c757d; /* Bootstrap secondary color */
    margin-top: 10px; /* Spacing above tagline */
}

.container {
    flex: 1; /* Allow the container to grow and take up available space */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.card {
    margin-top: 10px; /* Space above the card */
    padding: 20px; /* Padding for more space inside the card */
    width: 30rem; /* Set card width */
}

.form-group {
    margin-bottom: 15px; /* Add space between form elements */
}

.footer {
    text-align: center; /* Center align footer text */
    padding: 20px; /* Padding for footer */
    background-color: #343a40; /* Dark footer background */
    color: white; /* White text color in footer */
    position: relative; /* Position footer relative */
    bottom: 0; /* Align to bottom */
    width: 100%; /* Full width */
}

/* Button styles */
.custom-btn {
    background-color: #298063; /* Change to your desired color */
    color: white; /* Text color */
}

.custom-btn:hover {
    background-color: #2980636c; /* Darker shade on hover */
    color: white;
}